<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-bordered border-primary">
                        <thead>
                        <tr scope="row">
                            <th scope="col">task name</th>
                            <th scope="col">due date</th>
                            <th scope="col">task status</th>
                            <th></th>
                        </tr></thead>
                        <tbody>
                        <tr *ngFor="let i of data" scope="row">
                            <td scope="col">{{i.task_name}}</td>
                            <td scope="col">{{i.due_date}}</td>
                            <td scope="col">{{i.task_status}}</td>
                            <td><input name="taskStatus" [(ngModel)]="taskStatus" type="text" class="form-control">
                            <button (click)="update(i.id)" class="btn btn-warning">update status</button></td>
                        </tr></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
  </div>
